

#Dependencias de Bower
bower_components

#Dependencias de node
node_modules/

#Version dist/ 
dist/

#Archivos temporales
.tmp


# Archivos generados por STS
.classpath
.project
.settings/
.metadata/
target/
