#Dependencias de Bower
bower_components

#Dependencias de node
node_modules/

#Version dist/ 
dist/
ceres.tar.gz
ceres/ 

#Archivos temporales
.tmp
.DS_Store


# Archivos generados por STS
.classpath
.project
.settings/
.metadata/
target/

log4j.properties
commons-logging.properties

~$TT1.docx
package-lock.json

# APK de android
*.apk

# Datos de prueba y texto plano
data.json
headers.json
enlace-ceres.txt
medicos.in
