<div class="modal-dialog model-sm">
        <div class="modal-content"> 
        <div class="modal-body">
            <div class="row">
            <h3 class="m-t-none m-b">Crea una cuenta</h3>

                <p>Ingresa los datos solicitados</p>
                <form role="form" name="formRegistro" novalidate>
                <div class="col-sm-6 b-r">

                
                    <div class="form-group "><label>Nombre</label> <input type="text" name="nombre" placeholder="Nombre" ng-model = "datosP.nombre" class="form-control" required></div>
                    <small class ="text-danger" ng-show="formRegistro.nombre.$touched && formRegistro.nombre.$invalid">Campo requerido.</small>

                    <div class="form-group "><label>Apellido Paterno</label> <input type="text" name="ap" placeholder="Apellido Paterno"  ng-model = "datosP.apellidoPaterno" class="form-control" required></div>
                    <small class ="text-danger" ng-show="formRegistro.ap.$touched && formRegistro.ap.$invalid">Campo requerido.</small>

                    <div class="form-group "><label>Apellido Materno</label> <input type="text" name ="am" placeholder="Apellido Materno" ng-model = "datosP.apellidoMaterno" class="form-control" required></div>
                    <small class ="text-danger" ng-show="formRegistro.am.$touched && formRegistro.am.$invalid">Campo requerido.</small>

                    <fieldset class="col-sm-12">
                        <input type="radio" name="sex" id="sex-m" value="1" ng-model = "datosP.idSexo">
                        <label for="sex-m">Hombre</label>
                        <input type="radio" name="sex" id="sex-f" value="0" ng-model = "datosP.idSexo">
                        <label for="sex-f">Mujer</label>
                    </fieldset>
              
                </div>
                <div class="col-sm-6">
              
                    <div class="form-group"><label>Correo electrónico</label> <input type="email" name="email" placeholder="Correo electrónico" ng-model = "datosP.email" ng-model = "datosP.keyword" class="form-control" required></div>
                    <small class ="text-danger" ng-show="formRegistro.email.$touched && formRegistro.email.$invalid">Campo requerido.</small>                    

                    <div class="form-group"><label>Contraseña</label> 
                    <input type="password" name="password" placeholder="Contraseña" class="form-control" ng-model = "datosP.keyword" required></div>
                    <div class="form-group"><label>Repetir contraseña</label> <input type="password" name="password" ng-model = "datosP.confirmpass" placeholder="Contraseña" class="form-control" required></div>

                    <div>
                        <button class="btn btn-sm btn-success pull-right m-t-n-xs" type="submit" ng-disabled="!validaForm()" ng-click="registrarP(datosP)"><strong>Crear cuenta</strong></button> 
                    </div>
                
                </div>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>
