    <div class="middle-box text-center loginscreen animated fadeInDown" ng-controller="loginCtrl">
        <div>
            <div>

                <h1 class="logo-name">TT1</h1>

            </div>
            <h3 class="welcome-message">{{titulo}}</h3>
            <p>

            </p>
            <p></p>
            <form class="m-t" role="form" > <!--action="index.html"-->
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Usuario" required="" ng-model="usuarioObject.email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Contraseña" required="" ng-model="usuarioObject.password">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b" ng-click = "iniciarSesion(usuarioObject.email,usuarioObject.password)">Ingresar</button>

                <a href="#"><small>Olvidó su contraseña?</small></a>
                <p></p>
                <!--<p class="text-muted text-center"><small>Do not have an account?</small></p>-->
                <a class="btn btn-sm btn-white btn-block" >Crear una cuenta</a>
            </form>
            <p class="m-t"> <small>Trabajo Terminal</small> </p>
        </div>
    </div>
