 <div class="passwordBox animated fadeInDown" ng-controller="loginCtrl">
    <div class="row">

        <div class="col-md-12">
            <div class="ibox-content">

                <h2 class="font-bold">Recupera tu cuenta</h2>

                <p>
                    Ingresa tu correo electrónico para poder reestablecer tu contraseña.
                </p>

                <div class="row">

                    <div class="col-lg-12">
                        <form class="m-t" role="form">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Correo electrónico" required="" ng-model="usuarioObject.email">
                            </div>

                            <button type="submit" class="btn btn-primary block full-width m-b" ng-click="enviarCorreoReestablecePassword()">Reestablecer contraseña</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            Escuela Superior de Cómputo 
        </div>
        <div class="col-md-6 text-right">
         <small>2017</small>
     </div>
 </div>
</div>