/* Only demo */


   
.small-image{
  width: 30%;
  float: right;
}

.modal.modal-alert .modal-dialog .modal-content {
  border-radius: 6px;
  padding: 0;
}
.modal.modal-alert .modal-dialog .modal-content .modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color: #0480be;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.modal.modal-alert .modal-dialog .modal-content .modal-body {
  padding: 10px 0;
}
.modal.modal-alert .modal-dialog .modal-content .modal-footer {
  padding-top: 15px;
}

.boton-paciente{
  padding : 0px 10px
}

.bg-primary {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
}

.h4-margin {
  margin-bottom: 5px;
}


.table>tbody>tr>.button-padding{
  padding-left: 1px;
  padding-right: 1px;
}



body,h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", sans-serif
}
.w3-bar,h1,button {
  font-family: "Montserrat", sans-serif
}
.fa-anchor,.fa-coffee {
font-size:200px
}

.w3-button-custom:hover {
    color: #FFF !important;
    background-color: #18a689 !important;
}
.font-color{
  color: #2f4050;
}

.select-bottom-maring{
  margin-bottom: 0px;
}