<div class="row wrapper border-bottom white-bg page-heading">
    <div class="p-xs">
        <div class="pull-left m-r-md">
            <i class="fa fa-cutlery text-navy mid-icon"></i>
        </div>
        <h2>Dieta</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="dietaCtrl" ng-init="mostrarDieta()"> 
    <div class="row" >
        <div class="ibox-content forum-container" >
            <div class="forum-title">
                <div class="pull-right forum-desc">
                    <samll></samll>
                </div>
                <h3>Plan diario de {{caloriasTotales}} calorías</h3>
            </div>
            <div class="forum-item active">
                <div class="row">
                    <div class="col-md-11">
                        <div class="forum-icon">
                            <i class="fa fa-shield"></i>
                        </div>
                        <span class="forum-item-title">Desayuno</span>
                        <div class="forum-sub-title">Horario : 7:00 am - 8:00 am</div>
                    </div>
                    <div class="col-md-1 forum-info">
                        <span class="views-number">
                            {{caloriasDesayuno}}
                        </span>
                        <div>
                            <small>calorías</small>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                     <div class="col-md-5 pull-left">                        
                        <div ng-repeat="alimentoDesayuno in dieta.Desayuno track by $index">
                            {{alimentoDesayuno.cantidad}}
                            {{alimentoDesayuno.unidad}}
                            {{alimentoDesayuno.alimento}}
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="forum-item">
                <div class="row">
                    <div class="col-md-11">
                        <div class="forum-icon">
                            <i class="fa fa-bolt"></i>
                        </div>
                        <a class="forum-item-title">Colación 1</a>
                        <div class="forum-sub-title">Horario : 11:00 am - 12:00 am</div>
                    </div>
                    <div class="col-md-1 forum-info">
                        <span class="views-number">
                            {{caloriasC1}}
                        </span>
                        <div>
                            <small>calorías</small>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                     <div class="col-md-5 pull-left">
                        <div ng-repeat="alimentoC1 in dieta.C1 track by $index">
                            {{alimentoC1.cantidad}}
                            {{alimentoC1.unidad}}                            
                            {{alimentoC1.alimento}}
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="forum-item active">
                <div class="row">
                    <div class="col-md-11">
                        <div class="forum-icon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <a class="forum-item-title">Comida</a>
                        <div class="forum-sub-title">Horario : 2:00 pm - 3:00 pm</div>
                    </div>
                    <div class="col-md-1 forum-info">
                        <span class="views-number">
                            {{caloriasComida}}
                        </span>
                        <div>
                            <small>calorías</small>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                     <div class="col-md-5 pull-left">
                        <div ng-repeat="alimentoComida in dieta.Comida track by $index">
                            {{alimentoComida.cantidad}}
                            {{alimentoComida.unidad}}                            
                            {{alimentoComida.alimento}}
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="forum-item">
                <div class="row">
                    <div class="col-md-11">
                        <div class="forum-icon">
                            <i class="fa fa-star"></i>
                        </div>
                        <a class="forum-item-title">Colación 2</a>
                        <div class="forum-sub-title">Horario : 5:00 pm - 6:00 pm</div>
                    </div>
                    <div class="col-md-1 forum-info">
                        <span class="views-number">
                            {{caloriasC2}}
                        </span>
                        <div>
                            <small>calorías</small>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                     <div class="col-md-5 pull-left">
                        <div ng-repeat="alimentoC2 in dieta.C2 track by $index">
                            {{alimentoC2.cantidad}}
                            {{alimentoC2.unidad}}                            
                            {{alimentoC2.alimento}}
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="forum-item active">
                <div class="row">
                    <div class="col-md-11">
                        <div class="forum-icon">
                            <i class="fa fa-star"></i>
                        </div>
                        <a class="forum-item-title">Cena</a>
                        <div class="forum-sub-title">Horario : 9:00 pm - 10:00 pm</div>
                    </div>
                    <div class="col-md-1 forum-info">
                        <span class="views-number">
                            {{caloriasCena}}
                        </span>
                        <div>
                            <small>calorías</small>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                     <div class="col-md-5 pull-left">
                        <div ng-repeat="alimentoCena in dieta.Cena track by $index">
                            {{alimentoCena.cantidad}}
                            {{alimentoCena.unidad}}                            
                            {{alimentoCena.alimento}}
                            <br/>
                        </div>
                    </div>
                </div>
            </div>

        <div class="row">
             <div class="form-group">
                <label class="col-sm-2 control-label">Recomendaciones del médico:</label>
                <div class="col-sm-8">
                    <textarea style="overflow:auto;resize:none" class="form-control" rows="5" disabled>{{descripcion}}</textarea>
                </div>
            </div>
        </div>
        
        </div>
        <div class="ibox-content forum-container">
           <div class="row">
               <div class="form-group pull-left">
                   <button class="btn btn-w-md btn-gap-v btn-primary" type="button" ui-sref="index.dietasPaciente">Regresar</button>
               </div>
               <div class="form-group pull-right"><!--ng-click="generarDietaEnPDF()"-->
                   <button class="btn btn-w-md btn-gap-v btn-primary" type="button"  id="generarPDF"><i class="fa fa-file-pdf-o"></i> Generar PDF</button>
               </div>
           </div>
        </div>
    </div>

<div id="pdfContainer">
        <div class="ibox-content">

         <h2 class="pull-left"><b>CERES DIETA</b></h2>
         <h3 class="pull-right">Dieta diaria de <b>{{caloriasTotales}}</b> calorías</h3>
            <table class="table table-bordered table-sm">
                 <thead>
                 <tr>
                     <th class="col-md-7"><h4>Información del paciente</h4></th>
                     <th class="col-md-5"><h4>Macronutrientes</h4></th>
                 </tr>
                 </thead>
                 <tbody>
                 <tr>
                     <td><b>Nombre :</b> <span id="nombrePaciente" value="{{nombreComppleto}}">{{nombreComppleto}}</span></td>
                     <td><b>Carbohidratos :</b> {{carbohidratos}} %</td>
                 </tr>
                 <tr>
                     <td class="col-md-4"><b>Fecha de nacimiento :</b> {{fechaNacimiento}}</td>
                     <td><b>Lípidos : </b>{{lipidos}} %</td>
                 </tr>
                 <tr>
                     <td class="col-md-4"><b>Peso :</b> {{peso}} kg</td>
                     <td><b>Proteinas :</b> {{proteinas}} %</td>
                 </tr>
                 <tr>
                     <td class="col-md-4"><b>Estatura:</b> {{estaturaCurrentUser}} m</td>
                     <td></td>
                 </tr>
                 </tbody>
             </table>

            <div class="row show-grid" style="color: #FFFFFF;">
                <div class="col-md-12 nav-header">
                    <h3 class="pull-left">Desayuno</h3>
                    <h3 class="pull-right">
                        {{caloriasDesayuno}} calorías
                    </h3>
                </div>
            </div>
            <div class="forum-item active">
                <div class="row">
                     <div class="col-md-5 pull-left">                        
                        <div ng-repeat="alimentoDesayuno in dieta.Desayuno track by $index">
                            {{alimentoDesayuno.cantidad}}
                            {{alimentoDesayuno.unidad}}
                            {{alimentoDesayuno.alimento}}
                            <br/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row show-grid" style="color: #FFFFFF;">
                <div class="col-md-12 nav-header">
                    <h3 class="pull-left">Colación 1</h3>
                    <h3 class="pull-right">
                        {{caloriasC1}} calorías
                    </h3>
                </div>
            </div>

            <div class="forum-item">
                <div class="row">
                     <div class="col-md-5 pull-left">
                        <div ng-repeat="alimentoC1 in dieta.C1 track by $index">
                            {{alimentoC1.cantidad}}
                            {{alimentoC1.unidad}}                            
                            {{alimentoC1.alimento}}
                            <br/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row show-grid" style="color: #FFFFFF;">
                <div class="col-md-12 nav-header">
                    <h3 class="pull-left">Comida</h3>
                    <h3 class="pull-right">
                        {{caloriasComida}} calorías
                    </h3>
                </div>
            </div>

            <div class="forum-item active">
                <div class="row">
                     <div class="col-md-5 pull-left">
                        <div ng-repeat="alimentoComida in dieta.Comida track by $index">
                            {{alimentoComida.cantidad}}
                            {{alimentoComida.unidad}}                            
                            {{alimentoComida.alimento}}
                            <br/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row show-grid" style="color: #FFFFFF;">
                <div class="col-md-12 nav-header">
                    <h3 class="pull-left">Colación 2</h3>
                    <h3 class="pull-right">
                        {{caloriasC2}} calorías
                    </h3>
                </div>
            </div>

            <div class="forum-item">
                <div class="row">
                     <div class="col-md-5 pull-left">
                        <div ng-repeat="alimentoC2 in dieta.C2 track by $index">
                            {{alimentoC2.cantidad}}
                            {{alimentoC2.unidad}}                            
                            {{alimentoC2.alimento}}
                            <br/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row show-grid" style="color: #FFFFFF;">
                <div class="col-md-12 nav-header">
                    <h3 class="pull-left">Cena</h3>
                    <h3 class="pull-right">
                        {{caloriasCena}} calorías
                    </h3>
                </div>
            </div>
            <div class="forum-item active">
                <div class="row">
                     <div class="col-md-5 pull-left">
                        <div ng-repeat="alimentoCena in dieta.Cena track by $index">
                            {{alimentoCena.cantidad}}
                            {{alimentoCena.unidad}}                            
                            {{alimentoCena.alimento}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="form-group">
                    <label class="col-sm-2 control-label">Recomendaciones del médico:</label>
                    {{descripcion}}
                </div>
            </div>
        
        </div>
        
    </div>
    
</div>




<script type="text/javascript">
$(document).ready(function() {
    var elem = $('#pdfContainer');
    elem.hide();
});

$("#generarPDF").click(function(){
    var elem = $('#pdfContainer');
    elem.show();

    var nombre = document.getElementById('nombrePaciente').innerText;
    console.log("nombre : " + nombre);
    html2canvas(elem, {
      onrendered: function (canvas) {
        elem.show();
        var data = canvas.toDataURL();
        var docDefinition = {
          content: [{
                        image: data,
                        width: 500,
                    }]
        };
        pdfMake.createPdf(docDefinition).download("Dieta_"+nombre+"_"+new Date()+".pdf");
        elem.hide();
      }
      });


});

</script>