
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>{{nombrePagina}}</h2>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight"> <!--wrapper wrapper-content -->
  <div class="row">
  <div class="col-lg-6">
        
        <div class="profile-info">
            <div class="">
                <div>
                    <h3 class="no-margins">
                       <!-- {{informacionIndividuo.nombre}}-->
                    </h3>
                    <!--<h4>{{informacionIndividuo.email}}</h4>-->
                   <small ng-if="rol == 0">
                      Paciente
                    </small>
                    <small ng-if="rol == 1">
                      Médico
                    </small>  -                    
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
      <div class="text-center m-t-lg">
        
    </div>
    
  </div>
</div>
