<div class="row wrapper border-bottom white-bg page-heading" ng-init="recuperaInfo()">
	<div class="col-lg-10">
		<h2>Registrar glucosa</h2>
	</div>
</div>


<div class="row">
	<div class="ibox float-e-margins">
		<div class="ibox float-e-margins">
			<div class="col-md-6">
				<div class="form-group" id="data_1">
					<div class="col-md-10">
						<label class="font-normal">Ingrese los resultados del glucometro</label> 
					</div>
					<div class="col-md-2">
						
					</div>
					<div class="col-md-4">
						<div class="input-group date">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value="{{date | date:'yyyy-MM-dd'}}">
						</div>
					</div>

				</div>
				<br/><br/><br/>
				<div class="form-group" id="data_1">
					<div class="col-md-10">
						<label class="font-normal"></label> 
					</div>
					<div class="col-md-2">
						
					</div>
					<div class="col-md-4">
						<div class="input-group date">
							<span class="input-group-addon">Resultado</i></span><input type="text" class="form-control">
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>	
</div>
